service: golf-api
useDotenv: true

provider:
  name: aws
  runtime: nodejs16.x
  stage: ${opt:stage, 'prod'}
  region: ap-southeast-1
  memorySize: 1536
  timeout: 30
  environment:
    STAGE: ${self:provider.stage}
    API_KEY: ${env:API_KEY}
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - dynamodb:ListTables
        - dynamodb:CreateTable
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:BatchWriteItem
      Resource: '*'
plugins:
  - serverless-plugin-typescript
  - serverless-localstack
  - serverless-offline
#  - serverless-dynamodb-local
custom:
  serverless-offline:
    httpPort: 3000
  localstack:
    stages: [dev]
    host: http://192.168.200.11
    edgePort: 4566
    autostart: true
#  dynamodb:
#    stages: "dev"
#    start:
#      port: 8000
#      inMemory: true

functions:
  main:
    handler: src/lambda.handler
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors:
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
              - WWW-AUTH
      - http:
          path: /
          method: ANY
          cors:
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
              - WWW-AUTH